#controls {
  padding: 15px;
}

#button-controls {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#button-controls button {
  margin-right: 50px;
  height: 50px;
  width: 100px;
  font-size: 1.5rem;
  background-color: var(--button-bgcolor);
  border: 1px solid white;
  color: white;
}

#button-controls button:not([disabled]):active {
  background-color: var(--button-bgcolor-active);
  color: black;
  border-color: black;
}

#button-controls button:disabled {
  background-color: var(--disabled);
  opacity: 0.6;
}

#button-controls button:last-child {
  margin-right: 0;
}

#selectPuzzle .title {
  color: white;
  font-size: 1.5rem;
  margin: 5px;
}

#puzzleSelector {
  font-size: 1rem;
  min-width: 100px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--button-bgcolor);
  color: white;
}

#puzzleSelector:disabled {
  background-color: var(--disabled);
}
