#gameboard {
  border: var(--border-width) black solid;
  /* max-width: calc(var(--cells-per-row) * var(--cell-size)); */
  margin: 30px auto;
  max-width: calc(var(--cell-width) * var(--cells-per-row));
  width: 100%;
}

#gameboard .row {
  border: var(--border-width) green solid;
  display: flex;
  flex-direction: row;
}

#gameboard .row .col {
  font-size: 3rem;
  border: var(--border-width) blue solid;
  width: 100%;
  max-width: var(--cell-width);
  text-align: center;
}

#gameboard .row .col.orig {
  color: black;
  background-color: lightblue;
}
