:root {
  --font-size: 16px;
  --cells-per-row: 9;
  --cell-padding: 5px;
  --border-width: 2px;
  --cell-width: calc(
    (var(--font-size) * 3) + (var(--cell-padding) * 2) + var(--border-width)
  );
  --lightgreen: #a3e4d7;
  --border-color: gray;
  --original-color: darkblue;
  --answer-color: darkorange;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  max-width: 900px;
  /* border: 1px red solid; */
  text-align: center;
}
